* {
  margin: 0;
  padding: 0;
  font-weight: normal; }

html {
  scroll-behavior: smooth; }

dl, ol, ul {
  margin: 0px; }

h2 {
  font-size: 69px;
  color: #ffe100;
  text-align: center;
  font-weight: 700; }

body {
  color: #ffffff;
  background-color: #000000;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  overflow-y: scroll;
  overflow-x: hidden;
  line-height: 1.6;
  -webkit-font-smoothing: antialised; }

.container-fluid, .container {
  padding-left: 0px;
  padding-right: 0px; }

.row {
  max-width: 85%;
  margin: auto; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

.logo {
  display: block;
  min-width: 180px; }
  .logo img {
    width: 44px;
    height: 44px;
    background-color: #ffe100;
    display: inline-block; }
  .logo h1 {
    color: #ffe100;
    font-size: 32px;
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    display: inline-block;
    vertical-align: middle;
    margin: auto; }

.top_gradient {
  background: radial-gradient(ellipse farthest-corner at 90% 0%, #01b400 0%, black 70%);
  padding-top: 20px; }

/*!      Menu        */
.header__burger {
  display: none; }

.nav_li {
  display: inline-block; }

.header__list {
  text-align: center; }

.nav_link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.55;
  font-weight: 600;
  margin: 0 18px 0 18px; }

.nav_link:hover {
  transition-duration: 0.3s;
  border-bottom: solid 3px;
  border-color: #ffe100;
  text-decoration-color: #ffe100;
  color: #ffffff;
  text-decoration: none; }

.burger_bcg {
  display: none; }

.logo_burger {
  display: none; }

/*!      END MENU        */
/*!        MENU   MOB     */
.burger_bcg {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 360px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 56px;
  height: 56px;
  position: fixed;
  z-index: 4;
  right: 20px; }

.header__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  margin: auto;
  top: 8px; }

.header__burger span {
  position: absolute;
  background-color: #ffffff;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px; }

.header__burger:before, .header__burger:after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0; }

.header__burger:before {
  top: 0;
  transition: all 0.3s ease 0s; }

.header__burger:after {
  bottom: 0;
  transition: all 0.3s ease 0s; }

.header__burger span {
  transition: all 0.3s ease 0s; }

.nav_li_mob:after {
  height: 0px; }

.header__menu_mob {
  display: none;
  position: fixed;
  top: 0%;
  right: -100%;
  width: 300px;
  height: 100%;
  padding: 100px 0px 0px 0px;
  background-color: #111;
  z-index: 3;
  transition: all 0.3s ease 0s; }

.nav_li_mob {
  display: flex; }

.nav_li_mob:not(:last-of-type) {
  margin: 0; }

.nav_link_mob {
  width: 100%;
  padding: 6px 40px;
  color: #ffffff;
  font-size: 22px; }

.nav_link_mob:hover {
  border-bottom: none; }

.header__menu_mob.active {
  right: 0;
  padding: 100px 0px 0px 0px;
  transition: all 0.3s ease 0s; }

.header__burger.active:before {
  transform: rotate(45deg);
  top: 9px; }

.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px; }

.header__burger.active span {
  transform: scale(0); }

.logo_burger {
  width: 100px;
  height: 100px;
  display: block;
  margin-top: -50px; }

.logo_burger_block {
  margin: 0 0 20px 60px; }

.mob_menu_bottom {
  bottom: 20px;
  width: 100%;
  position: absolute;
  text-align: center; }
  .mob_menu_bottom p {
    font-size: 12px; }
  .mob_menu_bottom a {
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 8px;
    border-radius: 25px;
    font-size: 16px; }

/*!        END MENU  MOB     */
.main_photo img {
  max-width: 100%; }

.title {
  color: #ffe100;
  font-size: 69px;
  line-height: 1.15;
  font-weight: 700; }

.subtitle {
  color: #ffffff;
  font-size: 25px;
  line-height: 1.55;
  font-weight: 400;
  margin: 10px 0 15px 0; }

.button_contact {
  display: flex; }
  .button_contact a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 45px;
    color: #000000;
    font-size: 17px;
    line-height: 1.55;
    font-weight: 600;
    letter-spacing: 3px;
    background-color: #ffe100;
    border-color: transparent;
    text-align: center;
    transition-duration: 0.5s; }
  .button_contact a:hover {
    text-decoration: none;
    border: solid 2px #ffe100;
    color: #ffe100;
    background-color: transparent; }

.gnl_menu {
  margin: auto; }

.lock {
  overflow: hidden; }

.main_text {
  padding-top: 150px; }

/*!             BUTTON           */
.button_sell_the_catalyst {
  display: flex; }
  .button_sell_the_catalyst a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    background-color: rgba(1, 1, 1, 0);
    color: #ffe100;
    font-size: 17px;
    line-height: 1.55;
    font-weight: 600;
    letter-spacing: 3px;
    border-width: 3px;
    border-radius: 1px;
    background-position: center center;
    border-color: #ffe100;
    border-style: solid;
    transition-duration: 0.5s; }
  .button_sell_the_catalyst a:hover {
    text-decoration: none;
    border: solid 2px #ffe100;
    color: #000000;
    background-color: #ffe100; }

/*!            END BUTTON           */
/*!         SECOND SECTION        */
.second_text {
  padding-top: 150px; }

.subtitle_second_section {
  font-weight: 700;
  margin: 0; }

.title_second_section {
  line-height: 1.3; }

.line {
  width: 144px;
  height: 2px;
  background-color: #ffe100;
  border: none;
  margin-top: 10px; }

.text_trioma {
  margin-left: 20%;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 400;
  background-position: center center; }

/*!         END SECOND SECTION        */
/*!            THIRD SECTION          */
.third_section {
  padding-bottom: 100px; }

.title_third_section {
  width: 100%;
  text-align: center;
  margin: 60px 0; }

.row_material {
  min-width: 320px; }

.materials {
  transition-duration: 5s; }

.name_materials {
  text-align: center;
  margin: 10px 0;
  color: #ffe100;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 700; }

.front {
  position: relative;
  width: 300px;
  height: 300px;
  border-width: 2px;
  border-radius: 0px;
  background-color: #000000;
  background-position: center center;
  border-color: #ffe100;
  border-style: solid;
  display: block; }

.col_material2, .col_material5 {
  justify-content: center; }

.col_material1, .col_material4 {
  justify-content: start; }

.col_material3, .col_material6 {
  justify-content: end; }

.col_material1, .col_material2, .col_material3, .col_material4, .col_material5, .col_material6 {
  padding-bottom: 30px; }

.material_img {
  height: 350px;
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.material_img1 {
  background-image: url("../../img/materials_img1.png"); }

.material_img2 {
  background-image: url("../../img/materials_img2.png"); }

.material_img3 {
  background-image: url("../../img/materials_img3.png"); }

.material_img4 {
  background-image: url("../../img/materials_img4.png"); }

.material_img5 {
  background-image: url("../../img/materials_img5.png"); }

.back {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background-color: #000000;
  background-position: center center;
  display: none;
  transition: 0.5s; }

.front:hover .back {
  width: 295px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: 0.5s;
  animation: show 0.5s 1;
  animation-fill-mode: forwards; }

@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.back_text {
  color: #ffffff;
  padding: 15px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.4;
  font-weight: 400; }

.contact_us {
  min-height: 300px;
  width: 300px; }

.title_contact_us {
  color: #ffe100;
  font-size: 38px;
  line-height: 1.3;
  font-weight: 700; }

.subtitle_contact_us {
  color: #ffffff;
  font-size: 21px;
  line-height: 1.55;
  font-weight: 400;
  padding: 15px 0; }

.description_material {
  color: #ffffff;
  font-size: 28px;
  line-height: 1.55;
  font-weight: 400; }

/*!           END THIRD SECTION          */
/* !         FOURTH SECTION         */
.dimonds {
  z-index: 2; }

.dimonds_fourth_section img {
  max-width: 100%;
  margin-left: 30%; }

.description_fourth_section {
  background-color: #ffe100; }

.description_fourth_section h3, .description_fourth_section h4, .description_fourth_section p {
  color: #000000; }

.fourth_section .row {
  margin-right: 0px;
  margin-left: 0px;
  max-width: 100%;
  height: 100%; }

.dimond_title {
  padding-bottom: 30px;
  padding-right: 30px;
  text-align: end; }

.dimond_title h3 {
  font-size: 76px;
  font-weight: 700; }
.dimond_title h4 {
  font-size: 38px;
  font-weight: 700; }

.dimond_text p {
  font-size: 28px;
  padding-right: 30%; }

/* !         END FOURTH SECTION         */
/*!             FIFTH SECTION           */
.fifth_section {
  padding-top: 150px; }

.subtitle_fifth_section {
  color: #ffe100;
  font-size: 27px;
  line-height: 1.15;
  font-weight: 700; }

.description_text {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 400;
  margin: 40px 0; }

.text_contact_us {
  color: #ffffff;
  font-size: 25px;
  line-height: 1.55;
  font-weight: 400;
  padding-bottom: 30px; }

.about_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 210px;
  margin-bottom: 20px; }

.about_img1 {
  background-image: url("../../img/about_us_img1.jpg"); }

.about_img2 {
  background-image: url("../../img/about_us_img2.jpg"); }

.about_img3 {
  background-image: url("../../img/about_us_img3.jpg"); }

.about_img4 {
  background-image: url("../../img/about_us_img4.jpg"); }

/*!           END FIFTH SECTION         */
.cif_dif_desc p {
  font-size: 24px; }

.col_form {
  max-width: 600px; }

.contact_section {
  padding-top: 150px; }
  .contact_section img {
    max-width: 100%;
    padding-right: 50px; }
  .contact_section h2 {
    color: #ffe100;
    font-size: 42px;
    width: 100%;
    padding-bottom: 30px; }
  .contact_section h3 {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    width: 100%;
    padding-bottom: 25px; }
  .contact_section input, .contact_section textarea {
    color: #cccccc;
    border: 1px solid #b3b3b3;
    outline: none;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: transparent;
    border-radius: 0;
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.33;
    width: 100%; }
  .contact_section textarea {
    color: #cccccc;
    height: 102px;
    padding-top: 17px; }

.t-submit {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 60px;
  background-color: #ffe100;
  color: #000000;
  cursor: pointer;
  transition-duration: 0.5s; }

.t-submit:hover {
  transform: scale(1.05); }

.t-btn_wrap-effects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.t-btn_effects {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  width: 45px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100px;
  -webkit-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  transform: skewX(-45deg);
  animation: btn-line 3s 1;
  animation-iteration-count: infinite; }

@keyframes btn-line {
  0% {
    left: -100px; }
  100% {
    left: 250px; } }
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none; }

.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid rgba(255, 225, 0, 0.8);
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 77% 77%; }

.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #ffe100; }

.custom-radio:not(:disabled):active + label::before {
  background-color: #ffe100;
  border-color: #ffe100; }

.custom-radio:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }

.custom-radio:focus:not(:checked) + label::before {
  border-color: #ffe100; }

.custom-radio:checked + label::before {
  border-color: #ffe100;
  background-image: url("../../img/round.svg"); }

.footer_icon {
  padding-top: 150px;
  text-align: center; }
  .footer_icon img {
    height: 70px;
    max-width: 100%; }
  .footer_icon h2 {
    color: #ffe100;
    font-size: 42px;
    width: 100%;
    padding-bottom: 30px; }
  .footer_icon h3 {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    width: 100%;
    padding-bottom: 60px; }
  .footer_icon h4 {
    color: #ffe100;
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 40px; }
  .footer_icon p {
    color: #ffffff;
    font-size: 18px;
    padding-bottom: 10px; }

/*!           FOOTER         */
.Copywright {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.7;
  padding-top: 40px;
  padding-bottom: 10px; }

/*!           FOOTER   END        */
.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-posirion: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

.top_button {
  position: fixed;
  z-index: 100000;
  bottom: 30px;
  left: 30px;
  min-height: 30px;
  display: none; }

@keyframes top_arrow {
  0% {
    opacity: 0;
    transform: translate(0px, -5px) rotate(-45deg); }
  10%, 90% {
    opacity: 0; }
  50% {
    opacity: 1;
    border-left: 8px solid color;
    border-bottom: 8px solid color;
    transform: translate(0px, 20px) rotate(-45deg); }
  100% {
    opacity: 0;
    transform: translate(0px, 50px) rotate(-45deg); } }
.col-xs-5th, .col-sm-5th, .col-md-5th, .col-lg-5th {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 20%;
  float: left; }

.col-5-th {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

.row-flex, .row-flex > div[class*='col-'] {
  display: flex; }

.big-pr-5 {
  padding-right: 3rem; }

.big-pl-5 {
  padding-right: 0px; }

/*# sourceMappingURL=main.css.map */
