body {
  color: #ffe100;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  line-height: 1.6;
  -webkit-font-smoothing: antialised; }

.color_bg {
  background-color: #000000; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

.main_head {
  min-height: 480px; }

section h3,
.main_head h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 35px; }

section {
  padding: 70px 0 90px; }
  section h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px; }
  section h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0px;
    letter-spacing: 1px;
    padding-bottom: 30px;
    font-weight: 600; }
    section h2 p {
      margin: 0px; }

.s_about2 h2, .s_advantages h2, .s_trust h2, .s_how_work h2, .s_action h2, .s_howwork h2, .s_contacts h2 {
  text-align: center; }

.s_about, .s_advantages, .s_how_work, .s_contacts, .s_howwork, .s_action {
  background-color: #ffffff; }
  .s_about h2, .s_about p, .s_about h3, .s_advantages h2, .s_advantages p, .s_advantages h3, .s_how_work h2, .s_how_work p, .s_how_work h3, .s_contacts h2, .s_contacts p, .s_contacts h3, .s_howwork h2, .s_howwork p, .s_howwork h3, .s_action h2, .s_action p, .s_action h3 {
    color: #ffe100; }

.s_about2, .s_trust, .s_advantages, .s_contacts {
  background-color: #ffe100; }
  .s_about2 h2, .s_about2 p, .s_about2 h3, .s_trust h2, .s_trust p, .s_trust h3, .s_advantages h2, .s_advantages p, .s_advantages h3, .s_contacts h2, .s_contacts p, .s_contacts h3 {
    color: #ffffff; }

.main_footer {
  background-color: #012c3a; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-posirion: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

.top_row {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #ffe100;
  position: relative; }

.top_logo, .top_language {
  display: flex; }

.top_logo {
  align-items: center; }
  .top_logo img {
    max-width: 100%; }

.top_address_info {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 5px; }
  .top_address_info a, .top_address_info i {
    color: #000000;
    font-size: 16px;
    padding-right: 10px; }
  .top_address_info i {
    font-family: "fontawesome";
    font-weight: 900; }
  .top_address_info p {
    margin: 0px; }

.top_language {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px; }

.language_item, .language_item_last {
  padding-right: 25px; }
  .language_item img, .language_item_last img {
    width: 150%; }

.language_item ul li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px; }
.language_item ul {
  padding-left: 0px;
  margin-top: 5px; }

.top_menu {
  justify-content: center; }
  .top_menu a {
    text-transform: uppercase;
    font-size: 16px; }
  .top_menu .navbar {
    padding: 0px; }
    .top_menu .navbar a {
      color: #ffffff; }
  .top_menu li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 25px;
    padding-left: 25px; }
  .top_menu li:hover {
    background-color: #974594; }
    .top_menu li:hover a {
      font-weight: 600; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff; }
.navbar-dark .navbar-nav .nav-item:hover a:hover {
  color: #ffe100; }

.header_block_row {
  width: 100%;
  justify-content: center;
  align-items: center; }

.header_block_item_sep {
  width: 10%; }

.header_block_item {
  width: 28%;
  height: 45%;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  color: #ffffff;
  align-content: space-between;
  flex-direction: column;
  min-height: 250px; }
  .header_block_item .header_block_toptext {
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 10px; }
    .header_block_item .header_block_toptext h1 {
      text-align: center; }
  .header_block_item .header_block_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px; }
    .header_block_item .header_block_text p {
      text-align: center; }
  .header_block_item .header_block_btn {
    display: flex;
    align-content: center;
    margin-top: auto;
    justify-content: center;
    margin-bottom: 25px; }

.top_wrapper {
  display: flex;
  width: 100%;
  height: 90%;
  position: relative;
  justify-content: center; }

.z-index2 {
  z-index: 2; }

.h-80 {
  height: 80%; }

.s_about .s_about_item {
  padding-bottom: 2rem; }
.s_about img {
  max-width: 100%; }

.s_about_item_link {
  text-align: end; }
  .s_about_item_link a {
    color: #ff6f4b; }

.s_about2_block_buttons_row, .s_about2_block_buttons_more, .s_about2_block_buttons_buy, .s_about2_block_description {
  display: flex; }

.s_about2_block_buttons_row {
  justify-content: space-between; }

.s_about2_block_img img {
  max-width: 100%; }

.s_about2_block_buttons_more {
  justify-content: flex-end; }

.s_about2_block {
  padding: 15px; }
  .s_about2_block h3 {
    text-transform: none;
    font-size: 1em;
    font-weight: 600;
    margin-top: 5px; }
  .s_about2_block p {
    text-align: center; }

.s_about2_block:hover {
  background-color: white; }

.s_about2_block_buttons_more {
  width: 30%; }
  .s_about2_block_buttons_more a {
    text-align: center;
    font-size: 0.9em;
    margin-top: -10px; }

.s_about2_block_description p {
  padding-top: 5px;
  padding-bottom: 5px; }

.button_action a {
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  padding: 0.8em 1em calc(.8em + 3px);
  border-radius: 5px;
  background: #ff6f4b;
  box-shadow: 0 -1px #ff6f4b inset;
  transition: 0.2s; }
  .button_action a:hover {
    background: #ffffff;
    color: #ff6f4b; }
  .button_action a:active {
    background: #ffffff; }

.s_advantages_block h3 {
  padding: 0px;
  color: #ffffff; }

.advantages_container .s_advantages_block {
  display: flex;
  flex-direction: column; }
  .advantages_container .s_advantages_block p {
    text-align: center;
    color: #ffffff;
    font-size: 12px; }
  .advantages_container .s_advantages_block .s_advantages_bigh3 h3 {
    margin-bottom: 15px; }
  .advantages_container .s_advantages_block .s_advantages_block_text {
    margin: auto; }
    .advantages_container .s_advantages_block .s_advantages_block_text p {
      margin: 0;
      color: #974594;
      font-size: 16px;
      font-weight: 600; }
.advantages_container .iround {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center; }
  .advantages_container .iround i {
    font-family: fontawesome;
    display: flex;
    align-items: center;
    color: #ffe100;
    font-size: 50px;
    font-weight: 600; }
.advantages_container .iround-max {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #ffffff;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .advantages_container .iround-max strong {
    color: #974594;
    font-weight: 600;
    font-size: 50px; }
  .advantages_container .iround-max h3 {
    margin: 0px;
    color: #ffffff;
    text-align: center;
    padding-bottom: 0px; }
.advantages_container h3 {
  margin-top: 30px;
  text-transform: none;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff; }
.advantages_container strong {
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase; }
.advantages_container .advantages_description {
  font-style: italic; }
.advantages_container .advantages_item {
  margin-bottom: 40px; }
  .advantages_container .advantages_item p {
    margin-top: 10px;
    color: #ffffff; }
  .advantages_container .advantages_item:last-child {
    margin-bottom: 0; }
    .advantages_container .advantages_item:last-child p {
      margin-bottom: 0; }

.s_advantages_second {
  padding-top: 4rem; }

.block_padding_top {
  padding-top: 5%; }

.s_howwork_item_arrow {
  margin: 0 auto;
  padding: 20px 10px;
  position: relative;
  background: #ffe100;
  border-radius: 3px;
  text-align: center;
  display: flex;
  align-items: center; }

.s_howwork_item {
  margin: 0 auto;
  padding: 20px 10px;
  position: relative;
  background: #ffe100;
  border-radius: 3px;
  text-align: center;
  display: flex;
  align-items: center; }

.s_howwork_item_arrow:before {
  content: "";
  border: solid transparent;
  position: absolute;
  left: 100%;
  top: 50%;
  border-left-color: #ffe100;
  border-width: 20px;
  margin-top: -20px; }

.s_howwork p {
  color: #ffffff; }

.s_howwork h3 {
  font-weight: 600;
  font-size: 14px;
  text-transform: none; }

.contact_col {
  margin: 0px;
  text-align: center; }

.contact_box {
  margin-bottom: 30px;
  display: flex; }
  .contact_box .contact_box_text h4 {
    text-align: left;
    color: #ffffff;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px; }
  .contact_box .contact_box_text p {
    text-align: left;
    color: #ffffff;
    margin-bottom: 0px;
    font-size: 14px; }

.contact_box_icon {
  display: flex;
  color: #ff6f4b;
  font-family: "fontawesome";
  font-weight: 900;
  font-size: 24px;
  padding-right: 10px;
  padding-top: 10px; }

.button_action_contact a {
  font-weight: 700;
  color: #ffe100;
  text-decoration: none;
  padding: 0.8em 1em calc(.8em + 3px);
  border-radius: 5px;
  background: #ff6f4b;
  box-shadow: 0 -1px #ff6f4b inset;
  transition: 0.2s; }
  .button_action_contact a:hover {
    background: #ffffff;
    color: #ff6f4b; }
  .button_action_contact a:active {
    background: #ffffff; }

.contact-item {
  color: #ffe100; }

.cf7sr-g-recaptcha > div {
  margin: 0 auto; }

.contact-item-button-section {
  text-align: center; }

.contact-item-button {
  color: #ffe100;
  background-color: #ff6f4b;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 -1px #ff6f4b inset;
  transition: 0.2s; }

.contact-item-button:hover {
  color: #ffffff;
  background-color: #ffe100; }

.main_footer {
  padding-top: 150px;
  font-size: 13px;
  font-weight: 300; }
  .main_footer .social_wrap i {
    color: #cccccc;
    font-size: 30px;
    text-align: center;
    line-height: 0;
    font-family: "fontawesome-brand"; }
  .main_footer .social_wrap ul {
    margin: 0;
    padding-inline-start: 0;
    padding-bottom: 10px; }
  .main_footer .social_wrap li {
    display: inline;
    padding-right: 20px;
    padding-left: 20px; }
  .main_footer .social_wrap a {
    color: #cccccc; }
  .main_footer .copyright {
    color: #ffffff;
    text-align: center; }

.footer-bottom {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  padding-top: 20px; }

.footer-additional-link {
  text-align: end; }

.section_additional_page {
  color: #000000; }

@keyframes top_arrow {
  0% {
    opacity: 0;
    transform: translate(0px, -5px) rotate(-45deg); }
  10%, 90% {
    opacity: 0; }
  50% {
    opacity: 1;
    border-left: 8px solid color;
    border-bottom: 8px solid color;
    transform: translate(0px, 20px) rotate(-45deg); }
  100% {
    opacity: 0;
    transform: translate(0px, 50px) rotate(-45deg); } }
.col-xs-5th, .col-sm-5th, .col-md-5th, .col-lg-5th {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 20%;
  float: left; }

.col-5-th {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

.row-flex, .row-flex > div[class*='col-'] {
  display: flex; }

.big-pr-5 {
  padding-right: 3rem; }

.big-pl-5 {
  padding-right: 3rem; }

/*# sourceMappingURL=main.css.map */
