/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .row
  {
    max-width: 90%;
  }
  .button_contact
  {
    width: 120px;
    height: 40px;
    font-size: 16px;
  }
  .nav_link 
  {
    font-size: 18px;
    margin: 0 15px 0 15px;
  }

.col_material1, .col_material3, .col_material5
{  justify-content: start;}
.col_material2, .col_material4, .col_material6
  {justify-content: end;}

  .dimond_title  h3
{    font-size: 60px }
.dimond_title  h4
  {    font-size: 34px}
    
.dimond_text  p
    {font-size: 20px }



}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
  .row
  {
    max-width: 95%;
  }
  .button_contact
  {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
  .nav_link 
  {
    font-size: 18px;
    margin: 0 10px 0 10px;
  }
  .main_text
  {
    padding-top: 80px;
  }

  .logo h1
  {
    font-size: 24px;
  }

  .title
  {
    font-size: 56px;
  }

.dimond_title  h3
{    font-size: 50px }
.dimond_title  h4
  {    font-size: 28px}
    
.dimond_text  p
    {font-size: 16px }



}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	.col-lg-5th
  {
    width: 100%;
  }
  .big-pr-5, .big-pl-5
  {
    padding-right: 0px;
    padding-top: 10px;
  }

.top_gradient
{
  background: radial-gradient(circle farthest-corner at 10% 0%, rgba(1,180,0,1) 0%, rgba(0,0,0,1) 90%);
}

  
.gnl_menu
{
  margin: 0px;
}

.button_contact, .header__menu{display: none;}
.burger_bcg, .header__menu_mob{ display: block;}

.main_text, .second_text, .fifth_section, .footer_icon, .contact_section
{
  padding-top: 80px
}
.title
{
  font-size: 38px;
}
.title_contact_us
{
  font-size: 34px;
  }
.subtitle
{
  font-size: 20px;
  }
.subtitle_second_section
{
  font-size: 27px;
}
.text_trioma
{
  margin: 0px;
}
.description_material p
{
  font-size: 18px;
}

  h2
  {
    font-size:45px
  }

  .col_material1, .col_material2, .col_material3, .col_material4, .col_material5, .col_material6
{  justify-content: center;}

.dimonds_fourth_section img
    {
        margin-left: 0px;
        height: 200px;
        padding-bottom: 30px;
      }
.dimond_title, .dimonds_fourth_section {
    padding-left: 0px;
    padding-bottom: 0px;
    text-align: center;
  }

  .dimond_text p {
    padding-right: 0px;
}
.dimond_title  h3
{    padding-top: 20px; }

.footer_icon h2, .contact_section h2
{
  font-size: 30px;
}

}



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

.col-lg-5th
{
  width: 100%;
}


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}




@media (min-width: 768px)
.col-sm-5th {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
}
@media (min-width: 992px) {
  .col-md-5th {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1200px) {
  .col-lg-5th {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@media only screen and (max-width: 992px) {
 .col-md-5th {
  width:33%;
  float:none;
  display:block;

  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33%;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  max-width: 33%;
}
.col-md-5th.col-sm-5th {
  width: 20%;
  float: left;

  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
}

@media only screen and (max-width: 769px) {

 .col-md-5th {
  width:100%;
  float:none;
  display:block;

  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-5th.col-sm-5th {
  width:50%;
  float:none;
  display:block;

  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
}

@media only screen and (max-width: 767px) {

 .col-md-5th {
  width:100%;
  float:none;
  display:block;

  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col-md-5th.col-sm-5th {
  width:100%;
  float:none;
  display:block;

  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
}

